
<div class="app-body" xmlns:color="http://www.w3.org/1999/xhtml">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto">
            <div class="card-group">
              <div class="card p-4">
                <div class="card-body">
                
                  <div class="input-group mb-3">
                  <input type="text" maxlength="5" class="form-control" name="Name" #name="ngModel" [(ngModel)]="nameText" required>
                   שם                
                  </div>
                  <div class="input-group mb-4">
                    <input type="password" class="form-control" name="Password" #password="ngModel" [(ngModel)]="passwordText" required>
                    סיסמה 
                  </div>

                  <div class="row">
                    <div class="col-6">
                      <button (click) = "checkLogin(name.value,password.value)" class="btn btn-primary px-4" type="submit">כניסה</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </main>
</div>
