<div class="containter">
   <form #addMovieForm="ngForm" (ngSubmit)="onSubmitMovie(addMovieForm)">
       <div class="row" style="text-align: center;">
            <div class="col-md-12">
                <div class="form-group">
                    <label>שם הסרט</label>
                    <input 
                        type="text" 
                        id="name" 
                        pattern="^[a-zA-Z ]*$"
                        ngModel 
                        name="name" 
                        required 
                        maxlength="30"
                        class="form-control">
                    <br>
                </div>
               
                
                <div class="form-group">
                        <label>קטגוריה</label>
                        <input 
                        type="text" 
                        id="category" 
                        ngModel 
                        name="category" 
                        required 
                        class="form-control">
                        <br>
                </div>
                <div class="form-group">
                        <label> IMDBלינק ל</label>
                        <input 
                        type="text" 
                        id="movieLink"
                        ngModel
                        pattern="^https://www.imdb.com/.*$"
                        name="movieLink"
                        required 
                        class="form-control">
                        
                </div>
                <div class="form-group">
                        <label>לינק לפוסטר</label>
                        <input 
                        type="text" 
                        id="posterLink"
                        pattern="^https://www.imdb.com/.*$"
                        name="posterLink"
                        ngModel
                        required
                        class="form-control">
                        
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!addMovieForm.valid">אישור</button>
                <button class="btn btn-primary" type="submit" (click)="onCancel()" >ביטול</button>
            </div>
        </div>
   </form>
</div>
